@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

a {
  text-decoration: none;
}

.text {
 color: white;
 font-size: 8vw;
 font-family: 'Press Start 2P', cursive;
}

.timer {
 margin: 2rem;
 padding: 20px;
 margin-top: -30px;
 -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: gray;
}

.timer-text {
 color: white;
 font-size: 5vw;
 font-family: 'Press Start 2P', cursive;
}

.tokenomics {
 color: white;
 margin-top: 2rem;
 font-size: 3vw;
 font-family: 'Press Start 2P', cursive;
}

/* Table */
table {
 table-layout: fixed;
 width: 80%;
 margin-bottom: 8rem;
}

.tg  {
 border-collapse:collapse;
 border-spacing:0;
}
.tg td{
 border-color:white;
 border-style:solid;
 border-width:1px;
 font-family:Arial, sans-serif;
 font-size:1.5vh;
 overflow:hidden;
 padding:10px 2px;
 word-break:break-word;
 overflow-wrap: break-word;
}
.tg th{
 border-color:white;
 border-style:solid;
 border-width:1px;
 font-family:Arial, sans-serif;
 font-size:2vh;
 font-weight:normal;
 overflow:hidden;
 padding:10px 5px;
 word-break:normal;
}
.tg .tg-0lax{
 text-align:center;
 vertical-align:center;
 color: white
}

.copy {
 display: flex;
 flex-direction: row;
}

.copy-text {
 overflow: scroll;
 background-color: #C999FF;
 padding: 8px;
}

.feather {
  color: white;
  margin-bottom: 60px;
}
.feather:hover {
  color: #C999FF;
}

.main-bird {
  width: 600px;
}

.all-birds {
  width: 400px;
}

@media screen and (max-width: 480px) {
  .main-bird {
    width: 400px;
  }
  .all-birds {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .main-bird {
    width: 400px;
  }
}

.bottom-social {
  margin: 20px;
  border: solid 1px white;
  border-radius: 100px;
  padding: 30px 20px
}